@font-face {font-family: "Harry Potter";
    src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot");
    src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.svg#Harry Potter") format("svg");
}

body {
    background-image: url('../fourth-phase/img/hogwarts.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

#score {
    margin-bottom: 20px;
    font-size: 18px;
}

.card {
    background-color: #fff;
    width: 100px;
    height: 140px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    backface-visibility: hidden;
}

.card .card-back {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#restart-button {
    margin-right: 10px; 
    padding: 10px 20px;
    background-color: #726255;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#restart-button:hover {
    background-color: #372e29;
}

#home-button {
    padding: 10px 20px;
    background-color: #726255;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#home-button:hover {
    background-color: #372e29;
}